In [1]:
import pandas as pd

In [14]:
path = "../datasets/stance/{}/train_labels.txt"


data = pd.read_csv(path.format("hillary"), names=["text"])

     labels
0         1
1         0
2         2
3         1
4         0
..      ...
615       0
616       0
617       0
618       0
619       2

[620 rows x 1 columns]